*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    width: 1366px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: radial-gradient(circle farthest-side at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.tittleScore{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    width: 40rem;
    height: 8rem;
    margin: 2rem;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 15px;
}
.tittleScore img{
    padding: 1.2rem;
}
.tittleScore .score{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.6rem;
    margin: 1rem;
    line-height: 2rem;
    width: 8rem;
    
    background-color: #ffffff;
    color: hsl(229, 64%, 46%);
    border-radius: 5px;
}
.tittleScore .score p{
    font-size: 3rem;
    color: hsl(229, 25%, 31%);
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.game .triangle{
    z-index: -1;
    position: absolute;
    transform: scale(.8);
}

.game .circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #ffffff;
    
    box-shadow: inset 0px 8px hsl(217, 16%, 77%); 
}
.game .circle::before{
    position: absolute;
    content: '';
    z-index: -1;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

#paper, #scissor{
    bottom: 90px;
}
#paper::before{
    background-color:hsl(230, 89%, 62%);
    box-shadow: inset 0px -8px hsl(230, 89%, 53%)
}

#rock{
    top: 90px;
}
#rock::before{
    background-color: hsl(349, 71%, 52%);
    box-shadow: inset 0px -8px hsl(349, 84%, 39%);
}

#scissor::before{
    background-color: hsl(39, 89%, 49%);
    box-shadow: inset 0px -8px hsl(40, 84%, 37%);
}

.attribution{
    display: flex;
    justify-content: center;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#paper:hover, #rock:hover, #scissor:hover{
    cursor: pointer;
}