*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    width: 1366px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: radial-gradient(circle farthest-side at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.tittleScore{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    width: 40rem;
    height: 8rem;
    margin: 2rem;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 15px;
}
.tittleScore img{
    padding: 1.2rem;
}
.tittleScore .score{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.6rem;
    margin: 1rem;
    line-height: 2rem;
    width: 8rem;
    
    background-color: #ffffff;
    color: hsl(229, 64%, 46%);
    border-radius: 5px;
}
.tittleScore .score p{
    font-size: 3rem;
    color: hsl(229, 25%, 31%);
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.game .triangle{
    z-index: -1;
    position: absolute;
    transform: scale(.8);
}

.circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #ffffff;
    
    box-shadow: inset 0px 8px hsl(217, 16%, 77%); 
}
.circle::before{
    position: absolute;
    content: '';
    z-index: -1;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.paper, .scissor{
    bottom: 90px;
}
.paper::before{
    background-color:hsl(230, 89%, 62%); 
    box-shadow: inset 0px -8px hsl(230, 89%, 53%)
}

.rock{
    top: 90px;
}
.rock::before{
    background-color: hsl(349, 71%, 52%);
    box-shadow: inset 0px -8px hsl(349, 84%, 39%);
}

.scissor::before{
    background-color: hsl(39, 89%, 49%);
    box-shadow: inset 0px -8px hsl(40, 84%, 37%);
}
.paper:hover, .rock:hover, .scissor:hover{
    cursor: pointer;
}

.btnClean{
    border: none;
}

.attribution{
    display: flex;
    justify-content: center;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.btnRules{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 40%;
    padding: 1rem;
    width: 6rem;
    height: 2rem;

    background-color: transparent;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    color: #ffffff;

    cursor: pointer;
}

.containerRules{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6) ;
    
    z-index: 10;
}
.boxRules{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 5px;

}

.cab{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;

    width: 100%;
    height: 30px;
}
.cab button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cab h1{
    color: hsl(229, 25%, 31%);
}

.imgRules{
    width: 70%;
    height: 70%;
}

.show{
    display: flex !important;
    animation: appear 0.5s;
}
.desappear{
    display: none;
}

@keyframes appear{
    0%{ opacity: 0;},
    100%{ opacity: 1;};
}

.containerPick{
    display: none;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 60vh;
    transform: scale(1.3);   
}

.darkmode{
    background-color: hsl(229, 57%, 14%);
    box-shadow: none;
}

.picked{
    bottom: initial;
    top: initial;
    margin: 2rem;
}
.picked p{
    position: absolute;
    color: #ffffff;
    font-size: 1rem;
    bottom: 11rem;
}
.winLose{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    height: 8rem;
}
.winLose p{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}
.btnWinLose{
    width: 8rem;
    height: 2rem;
    font-size: .7rem;
    color:hsl(349, 71%, 52%);
    margin-top: 0.2rem;
}